<%= form_with(model: item_reviewed, local: true) do |form| %>
  <% if item_reviewed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_reviewed.errors.count, "error") %> prohibited this item_reviewed from being saved:</h2>

      <ul>
      <% item_reviewed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.collection_select :ir_type, ['CreativeWork'], :to_s, :to_s %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, Author.order(:name),:id,:name, include_blank: false %>
    <%= link_to 'New Author', '/authors/new' %>
  </div>

  <div class="field">
    <%= form.label :datepublished %>
    <%= form.date_select :datepublished, id: :item_reviewed_datepublished %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
